# LATRA
LATRA_USER=bsmart
LATRA_PASS=bsmart$2021
LATRA_BASE_URL=https://pis.latra.go.tz
POLL_INTERVAL_MS=8000
PORT=8787

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=vts
